* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "iransans";
    src: url("./assets/fonts/FontsFree-Net-ir_sans.ttf")format("truetype");
}

body,
html {
    width: 100%;
    height: 100%;
    overflow-y: hidden;
}

body {
    font-family: "iransans";
}

i {
    color: lightgray;
    margin-left: 20px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
}

.login-section {
    background-color: white;
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    z-index: 1;
}

.animation-section {
    background-color: #52c9e1;
    width: 55%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.logo {
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.logo img {
    width: 70px;
    height: 70px;
}

.logo p {
    color: white;
    font-size: 12px;
    margin-top: 10px;
}

.enter-div {
    width: 70%;
    /* background-color: red; */
    direction: rtl;
    margin-top: 30px;
}

.enter {
    font-size: 12px;
    /* background-color: red; */
    color: #0088ea;
}

.title-div {
    width: 70%;
    direction: rtl;
    margin-top: 80px;
}

.title {
    color: black;
    font-size: 18px;
    font-weight: bold;
}

.detail-div {
    width: 70%;
    direction: rtl;
    margin-top: 20px;
}

.detail {
    color: #9c9c99;
    font-size: 13px;
}

.input-div {
    width: 100%;
    height: 25px;
    /* background-color: red; */
    border-bottom: 2px solid lightgray;
    display: flex;
    margin-top: 50px;
}

.input {
    width: 100%;
    direction: rtl;
    border: none;
    outline: none;
}

.input:focus {
    color: lightgray;
    font-size: 15px;
}

.input::placeholder {
    font-family: "iransans";
    color: lightgray;
    font-size: 12px;
}

.captcha {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 25px;
    margin-top: 50px;
}

.captcha-code {
    width: 30%;
    height: 25px;
    /* background-color: red; */
    font-weight: bold;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.captcha-code p i {
    margin-left: 10px;
}

button {
    width: 100%;
    margin-top: 60px;
    border: none;
    outline: none;
    background-color: #0088ea;
    border-radius: 3px;
    height: 25px;
    color: white;
    font-family: "iransans";
    font-size: 10px;
    cursor: pointer;
    vertical-align: center;
}

.remember {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 10px;
    color: gray;
    cursor: pointer;
    /* background-color: red; */
    margin-top: 60px;
    margin-bottom: 30px;
}

label {
    margin-right: 5px;
}

.remember input,
label {
    cursor: pointer;
}

.remember input {
    filter: grayscale(100%);
    width: 10px;
    height: 10px;
}

.div-input {
    width: 70%;
    margin: 0;
}

@media screen and (max-width: 830px) {
    .captcha-code {
        width: 40%;
    }
    .div-input {
        width: 60%;
    }
}

@media screen and (max-width: 1330px) {
    body,
    html {
        height: auto;
        overflow: visible;
    }
    .container {
        height: auto;
        /* background-color: red; */
    }
    .animation-section {
        height: 600px;
        overflow-y: hidden;
    }
    body {
        height: auto;
    }
}

.clock {
    /* background-color: red; */
    position: absolute;
    width: 100%;
    height: inherit;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
}

@media screen and (max-width: 630px) {
    body {
        overflow-x: hidden;
    }
    .container {
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
    }
    .login-section,
    .animation-section {
        height: auto;
        width: 100%;
        /* overflow: hidden; */
    }
    .animation-section {
        height: 450px;
    }
    .clock {
        width: 220%;
    }
}

@media screen and (max-width: 1080px) {
    .animation-section {
        height: 620px;
    }
}

.circle {
    border-radius: 50%;
    width: 0px;
    height: 0px;
    background-color: #aedbe288;
    position: absolute;
    border: 2px solid rgba(211, 211, 211, 0.678);
}

.circle1 {
    animation: grow 4s linear infinite;
}

.circle2 {
    animation: grow 4s linear infinite .4s;
}

.circle3 {
    animation: grow 4s linear infinite 0.8s;
}

.circle4 {
    animation: grow 4s linear infinite 1.2s;
}

.circle5 {
    animation: grow 4s linear infinite 1.6s;
}

.circle6 {
    animation: grow 4s linear infinite 2s;
}

@keyframes grow {
    0% {
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        width: 600px;
        height: 600px;
        opacity: 0;
    }
}

.clock div {
    clip-path: polygon(0 50%, 100% 100%, 100% 0);
    width: 50%;
    height: 400px;
    /* background-color: #8cebea31; */
    background: linear-gradient(to bottom, #8cebea, #8cebeace, transparent, transparent, transparent);
    /* margin-top: 100px; */
    /* top: 10px; */
    /* position: absolute; */
    animation: rotate 9s linear infinite;
    transform-origin: center left;
    transform-box: fill-box;
}

@keyframes rotate {
    form {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}